<!doctype html>
<html>
  <head>
    <title>All the books, here.</title>
  </head>
  <body>
    <main>
        <h1>Book Search</h1>
        <form method="GET">
            Search: <input name="q">
            <button>Submit</button>
        </form>

        <h2>Search Results</h2>
        
        <!-- loop over all of the books, one book at a time -->
        {% for book in books %}
          <p>{{ book.title }}</p>
          <p>{{ book.publish_date }}</p>
          <p>{{ book.description }}</p>
        {% empty %}
          <!-- html in here is rendered if books is empty -->
          <p>There are no books</p>
        {% endfor %}

    </main>
  </body>
</html>